{
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": [
        "semistandard",
        "plugin:flowtype/recommended"
    ],
    "globals": {
        "expect": true,
    },
    "parser": "babel-eslint",
    "plugins": [
        "babel",
        "flowtype-errors",
        "flowtype",
        "import",
        "mocha"
    ],
    "rules": {
        /* Flowtype */
        "flowtype-errors/show-errors": "error",

        /* JSDoc */
        "valid-jsdoc": "warn",

        /* Overrides of Semistandard */
        "import/no-duplicates": "off",
        "brace-style": ["error", "stroustrup", {
            "allowSingleLine": true
        }],
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 4],
        "space-before-function-paren": ["error", "never"]
    },
    "settings": {
        "import/resolver": "webpack",
        "import/parser": "babel-eslint"
    }
}
